[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pynverse = "*"
numpy = "==1.15"
scipy = "*"
sklearn = "*"
matplotlib = "*"
pandas = "==0.23.3"
aif360 = "*"
pathos = "*"
numba = "*"
ipykernel = "*"
jupyter = "*"
seaborn = "*"
fairlearn = "*"
nest_asyncio = "*"

[requires]
python_version = "3.7"
